body {
	margin: 0;
	padding: 0;
	background-color: #fbfbfb;

}
ul, li {
  list-style: none;
}
hr {
  border: 0;
  border-top: 1px solid #434857;
}
.aez, .afa {
    margin-top: 1rem !important;
}


#content{
  overflow:hidden;
}
.left{
  width:220px; 
  margin-bottom:-3000px; 
  padding-bottom:3000px; 
  background:#cad5eb; 
  float:left;
  box-shadow: 1px 1px 10px #343a40;
}
.right{
  width:200px; 
  margin-bottom:-3000px; 
  padding-bottom:3000px; 
  background:#f0f3f9; 
  float:right;
}
.center{
  margin:0 0 0 230px; 
  background:#fbfbfb; 
  height:1000px;
}

.topnav {
  box-shadow: 0 0 5px 3px #888888;
  margin-bottom: 20px;
}

.footer  {
  padding-bottom: 0px;
}



.container-fluid {

  padding: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
/*  margin-right: 0px;
  margin-left: 0px;*/
/*  padding-left: 0px;
  padding-right: 0px;*/
}

/*.navbar {
  background: #004085;
}*/

.main-content {
  padding: 5px;

}


.side-bar .list-group-item {
  border: 0;
  border-radius: 0px;
  margin-bottom: 5px;
  box-shadow: 3px 3px 2px  #888888;
}

.list-group-item {
  color: black;
  font-size: 12px;
  padding-left: 25px;
  padding-top: 8px;
  padding-bottom: 8px; 
}
.list-group-item span {
  padding-right: 5px;
}
.side-bar .list-group-item.active {
  padding-left: 20px; 
  background: #ea0c3c;
  padding-top: 12px;
  padding-bottom: 12px;   
}

.side-bar a:hover{
  background-color: #f4f4f5;
}

.side-bar .card-header {
  background: #004085;
  color: white;
}

.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "/ ";
    padding: 0 5px;
}